/* LobbyScreen.css */
.outer3 {
  justify-content: center;
  width: 100%;
  height: 700px;
  background: #ffffff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #365523, #f1f3f1);
}
.LobbyCnt {
    display: flex;
    max-width: 400px;
    margin-top: 200px;
    margin-left: 600px;
    padding: 20px;
  }

  
  .LobbyCnt  form {
    display: flex;
    flex-direction: column;
  }
  
  .LobbyCnt  label {
    margin-bottom: 10px;
  }
  
  .LobbyCnt  input[type="email"],
  .LobbyCnt  input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .LobbyCnt  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .LobbyCnt  button:hover {
    background-color: #0056b3;
  }
  