/* AddAppointment.css */
.dialog-box {
  margin: 20px auto;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}

.add-appointment-heading {
  font-weight: bold;
  margin: 0;
}

.form-column {
  width: 45%;
  padding: 20px;
}

.image-column {
  width: 45%;
  padding: 20px;
  text-align: center;
}

.appointment-form {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  text-align: left; /* Align label text to the left */
}

label[for="date"], label[for="time"] {
  text-align: left; /* Align specific labels to the left */
  margin-left: -30px; /* Add margin for better spacing */
}

input[type="text"],
input[type="date"],
input[type="time"] {
  width: 200px; /* Make input fields full width */
  max-width: 250px; /* Limit maximum width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.btn-submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 150px; /* Limit maximum width */
}

.btn-submit:hover {
  background-color: #0056b3;
}

.doctor-image {
  width: auto;
  height: 100%;
  border-radius: 10px;
}
