/* AddAppointment.css */
.dialog-box {
  margin: 20px auto;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}

.add-appointment-heading {
  font-weight: bold;
  margin: 0;
}

.form-column {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.image-column {
  width: 50%;
  padding: 20px;
  text-align: center;
}

.appointment-form {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  label {
    display: inline-block;
    font-weight: bold;
    width: 120px;
    text-align: center; /* Center the label */
    margin-right: 20px;
  }
  
  /* Adjust the margin for the Time label */
  label[for="time"] {
    margin-right: 60px; /* Move the Time label a little to the left */
  }
  
  /* Reduce margin between Date label and Date input field */
  label[for="date"] {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"] {
    flex: 1; /* Expand input to fill remaining space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

}



.btn-submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 150px;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.doctor-image {
  width: auto;
  height: 100%;
  border-radius: 10px;
}
