.footer {
    background-color: #ffffff;
    color: #030303;
    padding: 0px 0;
    height: 150px;
    border-color: #030303;
  }
  
  .container {
    width: 100%;
    margin: auto;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-links li:last-child {
    margin-right: 0;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
  }
  
  .footer-bottom {
    text-align: center;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  