

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc; /* Add border for a clean separation */
  border-radius: 10px;
  height: 50px; /* Add border radius for rounded corners */
  overflow: hidden; /* Hide overflow to prevent button from overflowing */
}

.search-bar input {
  flex: 1; /* Take up remaining space */
  padding: 5px;
  height: 50px;
  /* Increase padding for better spacing */
  border: none; /* Remove default input border */
  outline: none; /* Remove default input focus outline */
}

.searchbtn {
  padding: 10px 16px; /* Increase padding for better button size */
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0; /* Rounded corners only on the right side */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchbtn:hover {
  background-color: #00b33c;
  color: #000000;
}


.appointments {
  display: flex;
  top: 0;
  flex-direction: column;
  position: relative;
}

.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f9f9f9;
  color: #000000;
  border-radius: 10px;
  padding: 10px;
  width: 600px;
  height: 120px;
  margin: 15px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0px 0px 10px rgb(0, 0, 0); /* Add box shadow on hover */
}

.left {
  flex: 1;
}

.right {
  margin-left: 10px;
}

.callbtn {
  padding: 8px 16px;
  background-color: #333;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.callbtn:hover {
  background-color: #ece4b7;
  color: #000000;
}
