/* Patientscreen.css */
.pouter {
  background-image: url('./photo-1582133456304-2f5cb1c2afbb.avif');
  background-size: cover; /* Ensure the background image covers the entire element */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  width: 100%;
  height: 940px;
}
.featurephn {
  margin-left: 620px;
  margin-top: 115px;
  border: 5px solid black;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 520px;
  width:220px;
  background-color: rgb(34, 34, 34);
}

.fnavbar {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.simcards {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 0px;
}

.battery {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 5px;
}

.PatientCnt form {
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.PatientCnt {
    width: 200px;
    margin: 5px;
    padding: 0px 0px 20px 0px;
    border-top: 30px solid #000000;
    border-bottom: 25px solid #000000;
    border-left: 10px solid #000000;
    border-right: 10px solid #000000;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 280px;
    background-color: #e9ebd9;
  }
  
  .PatientCnt label {
    font-size: 10px;
    font-weight: bold;
  }
  
  .PatientCnt input[type="email"],
  .PatientCnt input[type="text"],
  .PatientCnt select {
    width: 100%;
    padding: 2px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .PatientCnt button {
    width: 100%;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
  }
  
  .PatientCnt button:hover {
    background-color: #0056b3;
  }

  .numpad {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 220px;
  }
  .mainpad {
    margin: 2px;
    height: 50px;
    display: flex;
    flex-direction: row;
  }
  .acceptside {
    height: 50px;
    width: 66.7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .acceptside button {
    padding: 5px 5px 5px 5px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #b6b6b6;
  }

  .acpt svg {
    color: green;
  }

  .okside {
    height: 50px;
    width: 66.7px;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .okside button{
    padding: 5px 5px 5px 5px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 5px solid silver;
    background-color: black;
    color: #fff;
  }

  .rejectside {
    height: 50px;
    width: 66.7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5px;
  }
  .rejectside button {
    padding: 5px 5px 5px 5px;
    height: 22px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    background-color: black;
    color: #fff;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #b6b6b6;
  }

  .rejt svg {
    color: red;
  }

  .dialpad {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .firstcolumn {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 66.7px;
    padding: 2px;
    justify-content: space-around;
  }

  .firstcolumn button {
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #b6b6b6;
  }


  sub {
    font-size:x-small;
  }

  .secondcolumn {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 66.7px;
    padding: 2px;
    justify-content: space-around;
  }
  .secondcolumn button {
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #b6b6b6;
  }


  .thirdcolumn {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 66.7px;
    padding: 2px;
    justify-content: space-around;
  }

  .thirdcolumn button {
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #b6b6b6;
  }

  