

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.AppHeader {
  flex: 0 0 auto; /* Added this line to fix header height */
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.AppFooter {
  flex: 0 0 auto; /* Added this line to fix footer height */
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.SideMenuAndPageContent {
  flex: 1;
  display: flex;
  height: auto;
}

.SideMenu {
  flex: 0 0 auto; /* Added this line to fix side menu width */
  width: 200px; /* Fixed width for the side menu */
  background-color: rgba(0, 0, 0, 0.05);
}

.PageContent {
  flex: 1;
  padding-left: 12px;
}
