*{
    /* margin: 0; */
    padding: 0;
    /* box-sizing: border-box;  */
    /* font-family: 'Montserrat', sans-serif; */
}



.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video stays behind other content */
  }


.login-box{
    background-color: #ffffffd4;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.login-box{
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 130px 330px;
}

.login-box span{
    
    font-size: 12px;
}

.login-box a{
    
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.login-box button{
    
    background-color: #9d86bc;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.login-box button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.login-box button:hover{
    background-color: #9676bc;
}

.login-box form{
    
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.login-box input{
    box-sizing: border-box;
    background-color: #eeeeee5f;
    border: 1px solid lightgray;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    /* box-shadow: 1px 1px rgba(28, 28, 28, 0.35); */
}

.form-container{
    
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    
    left: 0;
    width: 50%;
    z-index: 2;
}


.login-box.active .sign-in{
    transform: translateX(100%);
}

.login-box.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 10px 0;
}

.social-icons svg{
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 38px;
    height: 38px;
    color: brown;
    padding: 5px;
    /* background-color: black; */
}

.social-icons svg:hover{
    cursor: pointer;
}

.toggle-container{
    
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}


.login-box.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    
    background-color: rgb(157, 134, 188);
    height: 100%;
    /* background: linear-gradient(to right, #5c6bc0, #512da8); */
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.login-box.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    box-sizing: border-box;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}


.toggle-left{
    transform: translateX(-200%);
}

.login-box.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.login-box.active .toggle-right{
    transform: translateX(200%);
}
.image img {
    width: 400px; /* Adjust width as needed */
    height: 500px; /* Maintain aspect ratio */
    object-fit: cover;
    float: right;
  
   /* Ensure the image covers the container */
}
