.App {
    text-align: center;
  }
  
  .mobile-container {
    position: relative;
  }
  
  .top-text {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: bold;
    color: black;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .video-heading {
    margin-bottom: 20px;
  }
  
  .myId {
    border-radius: 5px;
    background: #c9d6ff;
    padding: 20px;
    display: grid;
    justify-content: center;
  }
  
  .call-button {
    text-align: center;
    margin-top: 20px;
  }
  
  .video-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
  }
  
  .caller {
    text-align: center;
    color: #fff;
  }

  
  