/* ViewPatientUnderDoctor.css */
.view-doctor-history {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.doctor-list-heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  color: #000000;
}

.search-container {
  text-align: center;
  margin-bottom: 10px;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.doctor-history-table {
  width: 100%;
  border-collapse: collapse;
}

.doctor-history-table th,
.doctor-history-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.doctor-history-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.doctor-history-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.doctor-history-table tbody tr:hover {
  background-color: #f2f2f2;
}
