.book-content {
    position: fixed;
    background-color: white;
    border-radius: 12px;
    width: calc(100% - 250px); /* Adjusted width */
    height: calc(100vh - 120px);
    top: 90px;
    margin-left: 230px; /* Adjusted to accommodate the sidebar width */
    margin-right: 20px; /* Added margin from the right end */
    box-shadow: 2px 2px 10px #9bafaf;
    overflow-y: auto; /* Add scrollbar if content overflows vertically */
    
}

.head{
    text-decoration: underline;
}

/* Style scrollbar */
.book-content::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

/* Track */
.book-content::-webkit-scrollbar-track {
    background: #f1f1f1; /* Set the background color of the track */
}

/* Handle */
.book-content::-webkit-scrollbar-thumb {
    background: #888; /* Set the color of the scrollbar handle */
    border-radius: 5px; /* Set the border radius of the scrollbar handle */
}

/* Handle on hover */
.book-content::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change color of scrollbar handle on hover */
}



.form{
    text-align: left;
    margin-top: 40px;
}

    /* .form-group2{
        
        /* margin-left: 20px; */
    /* } */ 

.label1 {
    display: block;
    font-size: 16px;
    font-weight:600 ;
    margin: 10px 30px;
}
.label2{
    font-size: 16px;
    font-weight:600 ;
    margin: 10px 0px 10px 30px;
    /* margin: 20px 20px; */
}


input[type="text"],textarea{
    padding: 10px;
    margin-left: 60px;
    width: 70%;
    border: 1px solid lightgray;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif; 
}

input[type="date"], select{
    /* padding: 10px; */
    border: 1px solid lightgray;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/* input[type="date"]{
    padding: px;
} */



select:hover, input[type="date"]{
    cursor: pointer;
}


input[type="date"]{
    margin-left: 30px;
    padding: 10px 25px;
}

.book-btn{
    /* position: absolute; */
    padding: 12px 30px;
    margin: 30px 10px 30px 980px;
    border: none;
    border-radius: 50px;
    background-color: orange;
    color: black;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.2s ease-in;
}

.book-btn svg{
    transition: transform 0.2s ease-in;
}

.book-btn:hover svg{
    transform: scale(1.4);
}

.book-btn:hover{
    cursor: pointer;
    background-color: rgb(255, 181, 42);
}
