body{
    background-color: rgb(215, 250, 248);
}

.nav-bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0px 10px;
    border-radius: 14px;
    height: 60px;
    box-shadow: 2px 2px 10px #9bafaf;
}

.logo-title{
  display: flex;
  align-items: center;
}

.title-logo{
    margin-left: 50px;
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.title-logo:hover{
  cursor: pointer;
}

.usr-logo{
    margin-right: 50px;
    font-size: 25px;
}

.usr-logo:hover{
    cursor: pointer;
}

.btn-talk{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white ;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    margin: 20px 10px;
    padding: 12px 15px;
    transition: background-color 0.3s ease-in;
}

.btn-talk:hover{
  cursor: pointer;
  background-color: #EFEFEFEF;
}

.btn-talk svg {
  transition: transform 0.3s ease; /* Added transition effect for icon zoom */
}

.btn-talk:hover svg {
  transform: scale(1.4); /* Zooms in the icon */
}

.dropdown-content {
    font-size: 16px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 75px;
    right: 30px;
    display: none;
    flex-direction: column; /* Align items vertically */
    border-radius: 12px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 6px 0;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .usr-logo:hover .dropdown-content {
    display: block;
  }
  