.dcontainer {
    max-width: 800px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .dc1 {
    max-width: 800px;
  }
  
  .dcontainer  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .dcontainer  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .dcontainer  label {
    font-size: 18px;
    font-weight: bold;
    
    margin-bottom: 8px;
  }
  
  .dcontainer  input[type="text"],
  .dcontainer  input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  .dcontainer  input[type="text"]:focus,
  .dcontainer input[type="password"]:focus {
    border-color: #007bff;
  }
  
  .dcontainer  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dcontainer  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
  