/* Patientscreen.css */
.pouter {
  background-image: url('./images1/photo-1582133456304-2f5cb1c2afbb.avif');
  background-size: cover; /* Ensure the background image covers the entire element */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  width: 100%;
  height: 940px;
}
.rfeaturephn {
    margin-left: 620px;
    margin-top: 115px;
    border: 5px solid black;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 520px;
    width:220px;
    background-color: rgb(34, 34, 34);
  }
  
  .rfnavbar {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  
  .rsimcards {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 0px;
  }
  
  .rbattery {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 5px;
  }
  
  .rPatientCnt form {
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .rPatientCnt {
      width: 200px;
      margin: 5px;
      padding: 0px 0px 20px 0px;
      border-top: 30px solid #000000;
      border-bottom: 25px solid #000000;
      border-left: 10px solid #000000;
      border-right: 10px solid #000000;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      height: 280px;
      background-color: #e9ebd9;
    }
    
    
    .rPatientCnt button {
      width: 100%;
      padding: 5px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 10px;
    }
    
    .rPatientCnt button:hover {
      background-color: #0056b3;
    }
  
    .callstatus {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .callstatus svg {
        font-size: 40px;
    }

    .timer {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: right;
        background-color: #000000;
    }

    .timer p {
        font-size: 15px;
    }
    .calloptions {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .calloptions button {
        font-size: 15px;
        background-color: transparent;
        color:black;
    }
    .rnumpad {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px;
      height: 220px;
    }
    .rmainpad {
      margin: 2px;
      height: 50px;
      display: flex;
      flex-direction: row;
    }
    .racceptside {
      height: 50px;
      width: 66.7px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .racceptside button {
      padding: 5px 5px 5px 5px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      background-color: black;
      color: #fff;
      box-shadow: 0.5px 0.5px 0.5px 0.5px #b6b6b6;
    }
  
    .racpt svg {
      color: green;
    }
  
    .rokside {
      height: 50px;
      width: 66.7px;
      justify-content: space-around;
      margin-left: 10px;
      margin-right: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  
    .rokside button{
      padding: 5px 5px 5px 5px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      border: 5px solid silver;
      background-color: black;
      color: #fff;
    }
  
    .rrejectside {
      height: 50px;
      width: 66.7px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 5px;
    }
    .rrejectside button {
      padding: 5px 5px 5px 5px;
      height: 22px;
      display: flex;
      align-items: center;
      border-radius: 15px;
      justify-content: center;
      background-color: black;
      color: #fff;
      box-shadow: 0.5px 0.5px 0.5px 0.5px #b6b6b6;
    }
  
    .rrejt svg {
      color: red;
    }
  
    .rdialpad {
      margin-top: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .rfirstcolumn {
      display: flex;
      flex-direction: column;
      height: 150px;
      width: 66.7px;
      padding: 2px;
      justify-content: space-around;
    }
  
    .rfirstcolumn button {
      padding: 5px 5px 5px 5px;
      border-radius: 15px;
      background-color: black;
      color: #fff;
      box-shadow: 0.5px 0.5px 0.5px 0.5px #b6b6b6;
    }
  
  
    sub {
      font-size:x-small;
    }
  
    .rsecondcolumn {
      display: flex;
      flex-direction: column;
      height: 150px;
      width: 66.7px;
      padding: 2px;
      justify-content: space-around;
    }
    .rsecondcolumn button {
      padding: 5px 5px 5px 5px;
      border-radius: 15px;
      background-color: black;
      color: #fff;
      box-shadow: 0.5px 0.5px 0.5px 0.5px #b6b6b6;
    }
  
  
    .rthirdcolumn {
      display: flex;
      flex-direction: column;
      height: 150px;
      width: 66.7px;
      padding: 2px;
      justify-content: space-around;
    }
  
    .rthirdcolumn button {
      padding: 5px 5px 5px 5px;
      border-radius: 15px;
      background-color: black;
      color: #fff;
      box-shadow: 0.5px 0.5px 0.5px 0.5px #b6b6b6;
    }
  
    