/* RoomPage.css */
.douter{
  justify-content: center;
  width: 100%;
  height: 700px;
  background: #ffffff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #365523, #f1f3f1);
}
.RoomCnt {
  display: flex;
  margin: 0px;
  max-width: 100%;
  padding: 20px;
  justify-content: space-evenly;
}

h1 {
  font-size: 16px;
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
} */

.Input {
  width: 100%;
  margin-left: 200px;
  margin-top:7px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px;
  background-color: #f6f5f3;

}

.Input form input{
  width:500px;
}


.player-container {
  margin-left: 300px;
  background-color: rgb(32, 32, 32);
  width:600px;
  border: 5px solid #51504e;
  border-radius: 20px;
  height: 600px;
  justify-content: space-between;
  margin-top: 7px;
}

.avatar {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}

.avatar svg {
  color: rgb(19, 159, 214);
  font-size: 120px;
}

.duration {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.trio {
  display: flex;
  margin-top: 240px;
  justify-content: space-evenly;
}

.duo {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}
.str {
  background-color: aqua;
}

.str svg{
  color: white;
  font-size: 25px;
}

.endbtn{
  width: 70px;
  height: 30px;
  padding: 0px;
  border-radius: 12px;
  background-color: red;
  text-align: center;
}

.sendbtn{
  width: 70px;
  height: 30px;
  padding: 2px 0px 0px 0px;
  border-radius: 12px;
  background-color: rgb(7, 212, 82);
  text-align: center;
}

.endbtn svg{
  color: white;
  font-size: 25px;
}

.sendbtn svg{
  color: white;
  font-size: 20px;
}

.schcall {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.schcall input {
  margin: 3px;
  width: 177px;
  border: 1px solid black;
  border-radius: 2px;
}
.schcall button {
  margin: 5px;
}
