@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}


html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 20px;
  color: #000000;
  margin: 5px 0 5px 0;
}

.section-p1 {
  padding: 40px 80px;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #222;
    background-color: aliceblue;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color:white;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}
.section-m1 {
  margin: 40px 0;
}
#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    height: 60px;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 0px 5px rgba(129, 133, 129, 0.86);
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}
#logo
{
    display: block;
    margin-right: 800px;
    padding: 10px;
    justify-content: space-around;
    align-content: center;
}


#navbar
{
    display: flex;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgb(11, 137, 55);
    transition: 0.3s ease;
}
#navbar li a:hover,#navbar li a.active
{
    color: rgb(0, 0, 0);
}
#navbar li a.active::after,#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background:rgb(0, 0, 0);

    bottom: -4px;
    left: 20px;
}